:root{
	--main-color:#ba944d;
	--first-color:#243b55;
}

body{
	background: #141e30;
    background: -webkit-linear-gradient(to right,#243b55,#141e30);
    background: linear-gradient(to right, #243b55, #141e30);
}