#Register .container .head img{
	width: 15%;
}

#Register .container form{
	width: 500px;
	background: #ada996;
    background: -webkit-linear-gradient(to right,#eaeaea,#dbdbdb,#f2f2f2,#ada996);
    background: linear-gradient(to right, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
    border-radius: 20px;
    color: var(--main-color);
}

#Register .container form>i{
	top: 5%;
    font-size: 14px;
    right: 20px;
}

#Register .container form .clear{
	position: absolute;
	top: 8%;
	right: -15%;
}

#Register .container form label{
	background-color: #f8f9fa;
	width: 9%;
}

i{
	color: var(--main-color);
	cursor: pointer;
}

#Search .search-input {
	width: 300px;
}

#Data{
	width: 83%;
}

#Data table.table{
	width: max-content;
	min-width: 100%;
}

#Data table tr td[colspan="7"]{
	color:#664d03;
}

.popup{
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;
	transition-duration: 0.5s;
	display: flex;
	display: none;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	z-index: 100;
}

.popup .popup-box{
	width: 450px;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    transition-duration: 0.5s;
}

.popup .popup-box.show{
	transform: translate(-50%, -50%);
}

.popup .popup-box .event{
	justify-content: space-between;
}

.popup .popup-box .event i.close{
	color:#C9C9C9;
}

.popup .popup-box .buttons{
	display: flex;
	justify-content: right;
}

.active{
	display: flex;
}

.show{
	opacity: 1;
}