#Register .container .head img{
	width: 15%;
}

#Register .container form{
	width: 500px;
	background: #ada996;
    background: -webkit-linear-gradient(to right,#eaeaea,#dbdbdb,#f2f2f2,#ada996);
    background: linear-gradient(to right, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
    border-radius: 20px;
    color: var(--main-color);
}

#Register .container form>i{
	top: 5%;
    font-size: 14px;
    right: 20px;
}

#Register .container form label{
	background-color: #f8f9fa;
	width: 9%;
}

i{
	color: var(--main-color);
	cursor: pointer;
}

#Search .search-input {
	width: 300px;
}

#Data table.table{
	width: max-content;
	min-width: 100%;
}

#Data table tr td[colspan="7"]{
	color:#664d03;
}